body{
    background-color: teal;
}
.pagetitle{
    font-family:cursive;
    color: aqua;
    text-align: center;
}
.imgborder{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: auto;
    align-items: center;
}
.tagline{
    font-size: 20pt;
    font-style: italic;
    font-family: cursive;
    text-align: center;
    color: rgb(61, 212, 14);
}
.wikilink{
    text-align: center;
}
.movietitle{
    font-family: cursive;
    font-size: 25pt;
    text-align: center;
}
.genres{
    text-align: center;
}
.user{
    text-align: center;
}
.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    align-items: center;
    text-align: center;
}
.poststuff{
    text-align: center;
}
.commentbox{
    border: 2px solid;
    padding: 20px; 
    width: 300px;
    resize: both;
    overflow: auto;
}
.message{
    text-align: center;
}
.commentsheader{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}
.usrreviews{
    text-align: center;
}
.signuppagediv{
    text-align: center;
}
.loginpage{
    text-align: center;
}
.errormessage{
    color: red;
}
