<!DOCTYPE html>

<html>

<HEAD>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</HEAD>

<body>
    <div class="loginpage">
        <h1>Please enter your username:</h1>
        <form method="POST" action="/loginuser">
            <input type="text" name="userid" />
            <br>
            <br>
            <input type="submit" value="Log in!" />
        </form>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <b>
            <p class="errormessage">{{message}}</p>
        </b>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <br>
        <form method="POST" action="/signuppage">
            <input type="submit" value="Click here to sign up" />
        </form>

    </div>
</body>

</html>